@keyframes masked {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 5000px;
  }
}

/* @keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translatey(-50px);
  }

  to {
    opacity: 1;
    transform: translatey(0px);
  }
} */

.rainbow {
  background: -webkit-linear-gradient(
      left,
      #0ff 0%,
      #97fba0 20%,
      #fbef97 40%,
      #ff8bb4 60%,
      #97b1fb 80%,
      #0ff 100%
    )
    repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /*Animation  한번에 여러개 적용하기 */
  animation: masked 10s linear infinite;
  /* fadeInDown 1.5s both 1; */
  -webkit-animation: masked 10s linear infinite;
  /* fadeInDown 1.5s both 1; */
  -moz-animation: masked 10s linear infinite;
  /* fadeInDown 1.5s both 1; */
  -o-animation: masked 10s linear infinite;
  /* fadeInDown 1.5s both 1; */
}
