.terminal-output {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  .output-lines-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.terminal-output::-webkit-scrollbar {
  width: 8px;
}

.terminal-output::-webkit-scrollbar-thumb {
  background: var(--terminal-text-dim);
  border-radius: 4px;
}

.terminal-output::-webkit-scrollbar-thumb:hover {
  background: var(--terminal-primary);
}

.terminal-line {
  white-space: pre-wrap;
  word-break: break-word;
}

.terminal-line.welcome-ascii {
  font-size: clamp(2px, 8px, 0.8vw);
  line-height: 1;
}

.terminal-line.input-line {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 0.5rem;
}

.terminal-line.error-line {
  color: var(--terminal-error);
}

.terminal-line.info-line {
  color: var(--terminal-text);
}

.terminal-line.success-line {
  color: var(--terminal-success);
  a {
    color: var(--terminal-success);
  }
}

.highlight {
  color: var(--terminal-tertiary);
}
