.terminal-input-line {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid rgba(125, 133, 144, 0.15);
  margin-top: auto;
  gap: 6px;

  .terminal-input {
    flex: 1;

    /* Add hint for typing on mobile */
    &::placeholder {
      opacity: 0;
      color: var(--terminal-text-dim);
      @media screen and (max-width: 768px) {
        opacity: 1;
      }
    }
  }

  .prompt-path,
  .prompt-divider {
    color: var(--terminal-text-dim);
  }
}
